html, body, p, div, h1, h2, h3, h4{
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

#contentContainer{
    background-color: rgb(238, 238, 238);
}

#topPage {
    position: center;
    background-color: white;
    width: 1300px;
    height: 80%;
    margin-left: 100px;
    padding: 20px;
}

.myUserName{
    font-weight: lighter;
}

.theQuestion{
    font-weight: 600;
    font-size: x-large;
}

.commentsPage{
    background-color: rgb(214, 214, 214);
    width: 1340px;
    height: 650px;
    margin-left: 100px;
    padding-top: 20px;
}

.comment{
    background-color: whitesmoke;
    height: 100px;
    width: 1200px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
}
.icon{
    width: fit-content;
    height: fit-content;
    max-width: 80px;
    max-height: 80px;
    padding: 10px;
    margin-right: auto;
}
.userInput{
    margin-right: 885px;
    display: inline;
}
.userName{
    font-weight: 200;
    padding-top: 10px;
    padding-right: 10px;
}
.userCommet{
    font-weight: 600;
    position: relative;
    padding-top: 10px;
}
.edit{
    color: lightseagreen;
    padding: 10px;
    font-weight: lighter;
    justify-items: flex-end;
}
.delete{
    color: lightseagreen;
    padding: 10px;
    font-weight: lighter;
    justify-items: flex-end;
}

.makeAComment{
    background-color: white;
    height: 80px;
    width: 1340px;
    margin-left: 100px;
    display: flex;
    align-content: flex-end;
    position: absolute;
}

#displayName{
    border: 1px solid gray;
    border-radius: 3px;
    margin: 10px;
    margin-left: 30px;
    margin-top: 20px;
    font-size: small;
    padding-right: 100px;
    max-height: 25px;
    padding-top: 5px;
    padding-left: 5px;
}
#commentBox{
    border: 1px solid gray;
    border-radius: 3px;
    margin: 10px;
    margin-top: 20px;
    font-size: small;
    padding-right: 775px;
    max-height: 25px;
    padding-top: 5px;
    padding-left: 5px;
}
.submit{
    color: lightseagreen;
    font-size: large;
    font-weight: lighter;
    margin-left: auto;
    margin-right: 40px;
    margin-top: 20px;
    padding: 10px;
}