.shadowed {
	text-shadow: 1px 1px 2px black;
	color:       white;
}

body {
	background-color: lightblue;
}

.stuff-box {
	font-family: 'helvetica neue', helvetica, sans-serif;
	color: white;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: center;
	padding: 3px 10px;
	margin: 10px;
	cursor: pointer;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
}

.timestamp {
    font-size: smaller;
    font-family: monospace;
    padding: 0px 10px;
}

.red {
	border-color: rgb(255,0,0);
	background:   rgb(180,60,60);
	box-shadow: 1px 1px 2px rgba(200,0,0,0.4);
}

.yellow {
	border-color: rgb(255,255,0);
	background:   rgb(180,180,60);
	box-shadow: 1px 1px 2px rgba(200,200,0,0.4);
}

.blue {
	border-color: rgb(0,0,255);
	background:   rgb(60,60,180);
	box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
}

.green {
	border-color: rgb(0,255,0);
	background:   rgb(60,180,60);
	box-shadow: 1px 1px 2px rgba(0,200,0,0.4);
}

.black {
    border-color: rgb(0,0,0);
    background:   rgb(75,75,75);
    box-shadow: 1px 1px 2px rgba(200,200,0,0.4);
}

div {
	padding: 20px;
}

span {
	display: inline-block;
	padding-left: 50px;
}

table {
	align-content: center;
	background-color: black;
	border-radius: 5px;
}

tr {
	background-color: lightsalmon;
	padding: 20px;
}

td {
	padding: inherit;
	font-size: x-large;
	text-align: center;
}

.num {
	background-color: azure;
}

#show {
	height: 40px;
}

.historyDiv{
	padding: 10px;
	background-color: lavender;

}
